@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;700&family=Alfa+Slab+One&Poppins:wght@400;700&display=swap');

:root {
    --brand-color: #ffa801;
}

body {
    font-family: 'Montserrat', sans-serif;

}

/* <!-- ---- Hero ---- --> */
#contact-hero {
    background: url("https://images.pexels.com/photos/1550337/pexels-photo-1550337.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1");
    background-size: cover;
    background-position:  bottom center;
    background-attachment: fixed;
    height: 380px;

}
.contact-opacity-bg {
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.768);
}

#contact-section{
    background-color: #f1f2f6;
}

